<div class="flex items-center justify-center flex-col p-8 my-12 gap-8 overflow-y-hidden">
  <h1 class="font-bold leading-tight text-5xl mt-3 mb-12 text-blue-600"> Bio </h1>
  <div class="rounded-md bg-yellow-50 max-w-2xl p-4 mb-4">
    <%= image_tag("IMG_2868.jpg", :class => "float-left pr-2.5 p-2 object-contain h-44 w-auto rounded-lg") %><p>
      Let me start with why you should hire me, since that's most likely why you're here. If you want to learn a bit
      more about me (beyond the pitch) please continue reading after my contact info.<br><br>

      First and foremost, I'm a problem-solver who enjoys getting things done. I believe every problem has a solution and finding it is only a matter of time. I've spent the last six years doing a deep dive into web development,
      working my way through an extensive online full-stack developer course (<%= link_to "ODIN Project", "https://www.theodinproject.com/", class: "text-blue-700 font-bold" %>)  and
      learning the relevant and complimentary technologies. I adhere to <%= link_to "pragmatic programmer
      principles", "https://github.com/HugoMatilla/The-Pragmatic-Programmer", class: "text-blue-700 font-bold" %> and set aside time daily to improve my skills, keep up with the current state
      of the industry, and review goals. <br><br>

      I also work with different Design Patterns in mind. I'm versed in <%= link_to "Agile", "https://en.wikipedia.org/wiki/Agile_software_development", class: "text-blue-700 font-bold" %>,
      <%= link_to "SCRUM", "https://en.wikipedia.org/wiki/Scrum_(software_development)", class: "text-blue-700 font-bold" %> and <%= link_to "SOLID", "https://en.wikipedia.org/wiki/SOLID", class: "text-blue-700 font-bold" %>. I keep my api's <%= link_to "RESTful", "https://en.wikipedia.org/wiki/Representational_state_transfer", class: "text-blue-700 font-bold" %> and my code <%= link_to "DRY", "https://en.wikipedia.org/wiki/Don%27t_repeat_yourself", class: "text-blue-700 font-bold" %>. I really enjoy
      testing and follow <%= link_to "Test Driven Development", "https://en.wikipedia.org/wiki/Test-driven_development", class: "text-blue-700 font-bold" %> best practices. As a stereotypical <%= link_to "MBTI
      INTJ", "https://www.16personalities.com/intj-personality", class: "text-blue-700 font-bold" %> personality type, I'm a lover of systems and patterns and am adept at sorting,
      organizing and prioritizing information. Whether that be setting up a learning schedule for a new
      programming language, designing a business plan, or an efficient practice schedule for playing
      guitar.<br><br>

      I'm also a student of philosophy, with integrity and duty running central to my core. I realize that
      honor is the only thing you truly own. When you hire me, you hire someone who seeks to
      improve your business as much as they seek to improve their own skills and career.<br><br>
    </p>
  </div>
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-12">
    <div>
      <ul>
        <li class="w-41 text-center">
          <h3 class="text-lg font-semibold mb-10 border p-2 bg-indigo-500 text-white rounded-lg">Languages I speak</h3>
        </li>
        <li class="h-28">
          <img class="p-3 h-full w-full" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/ruby/ruby-original-wordmark.svg" />
        </li>
        <li class="h-28">
          <img class="p-3 h-full w-full" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original-wordmark.svg" />
        </li>
        <li class="h-28">
          <img class="p-3 h-full w-full" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original-wordmark.svg" />
        </li>
        <li class="h-28">
          <img class="p-3 h-full w-full" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" />
        </li>
        <li class="h-28">
          <img class="p-3 h-full w-full" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original-wordmark.svg" />
        </li>
      </ul>
    </div>
    <div>
      <ul>
        <li class="w-41 text-center">
          <h3 class="text-lg font-semibold mb-10 border p-2 bg-indigo-500 text-white rounded-lg">My Frameworks</h3>
        </li>
        <li class="h-28">
          <img class="p-3 h-full w-full" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/rails/rails-original-wordmark.svg" />
        </li>
        <%# <li class="h-28">
          <img class="p-3 h-full w-full" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original-wordmark.svg" />
        </li> %>
        <li class="h-28">
          <img class=" h-full w-full" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tailwindcss/tailwindcss-original-wordmark.svg" />
        </li>
        <li class="h-28">
          <img class="p-3 h-full w-full" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/jest/jest-plain.svg" />
        </li>
        <li class="h-28">
          <img class="p-3 h-full w-full" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/rspec/rspec-original-wordmark.svg" />
        </li>
      </ul>
    </div>
    <div>
      <ul>
        <li class="w-41 text-center">
          <h3 class="text-lg font-semibold mb-10 border p-2 bg-indigo-500 text-white rounded-lg">Toolbox</h3> 
        </li>
        <li class="h-28">
          <img class="p-3 h-full w-full" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original-wordmark.svg" />
        </li>
        <li class="h-28">
          <img class="p-3 h-full w-full" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original-wordmark.svg" />
        </li>
        <li class="h-28">
          <img class="p-3 h-full w-full" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/heroku/heroku-plain-wordmark.svg" />
        </li>
        <li class="h-28">
          <img class="p-3 h-full w-full" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-original-wordmark.svg" />
        </li>
        <li class="h-28">
          <img class="p-3 h-full w-full" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg" />
        </li>
      </ul>
    </div>
  </div>
  <div>
    <h3 class="font-bold leading-tight text-5xl mt-3 text-blue-600 mb-12 text-center">Contact Info</h3>
    <div class="rounded-md bg-yellow-50 max-w-2xl p-4 mb-4">
      <ul>
        <li class="text-lg"><strong>Email:</strong> weslarsondev@gmail.com<li>
        <li class="text-lg"><strong>Phone:</strong> 971-203-4256<li>
      </ul>
    </div>
  </div>
  <div class="rounded-md bg-yellow-50 max-w-2xl p-4 mb-12">
      My journey so far:<br><br>

      I've always loved to work. Growing up in Minnesota quality time with my dad was spent
      cutting trees and helping him with his carpentry business. I took on odd jobs cleaning cabins or
      doing lawn care before I was able to legally work, with my first official job being a position at a
      small grocery store when I was 14. My love of systems and numbers led me into the finance
      sector, where I thrived in my job as a supervisor of a fraud support phone team, wearing many
      hats as I like to do, and being able to get involved in multiple roles. From fielding questions from
      the phone reps, deescalating supervisor calls (where I learned mediation and how to pacify
      tense situations), gathering data and building reports, to, when needed, getting on the phones
      myself and taking calls (which the worker bee in me always enjoyed).<br><br>

      Later, I accepted a position with a small localized fraud investigations team within the same
      bank which required its employees to be able to think outside the box. We had to monitor
      various reports looking for suspicious account usage patterns, locking down suspicious
      accounts, verifying customers against the various credit agencies, and having conversations
      with people who may or not be the customer as they try to reopen their accounts. We also
      investigated various international fraud rings. All of this required focused
      attention to detail, being able to think abstractly to see the larger picture, and organize
      and compare datasets. My team was small and only included four of us, who reported to
      management on a biweekly basis. This job taught me much about being self-directed and
      being accountable for my productive hours.<br><br>

      After my father came down with a terminal illness, I decided to take a leave from the university I
      was attending at the time for radiology, and move back home. Work options were more limited in northern
      Minnesota, and I ran a small satellite branch of a local bank as a teller during this time,
      assisting customers with all of their transaction needs and preparing daily deposits for delivery
      to the main branch.<br><br>

      Eventually I relocated to Portland, Oregon. I was hired as a loan documentation specialist where
      I reviewed legal documents and verified everything needed per individual state law and
      regulation and prepared the final documents for closing. Research and attention to detail were a top priority in this role.<br><br>

      Throughout my entire work history, however, I've always been interested in computers and
      computer science. When I got my first computer at twelve I crashed it many times playing
      around in the DOS terminal but was always able to get it running again. Friends and family were
      frequently asking me to fix, upgrade or optimize their computers which I always was able to do
      even though sometimes I wasn't quite sure how I did it. Computer science always
      seemed to come naturally and intuitively to me. I started out learning some Python and JavaScript for fun which I used for building simple games and Arduino projects.<br><br>

      More recently my wife and I have relocated to Arizona to be closer to her family. Adapting to the
      sun and scorpions has been a challenge but I find I do well in rugged climates! If you've read
      this far thank you for your time, and please feel free to reach out with any questions or
      clarifications. If you feel like we may be a good match, please see my contact info above
      and let's build something.<br><br>
    </p>
  </div>
</div>