<!DOCTYPE html>
<html class="h-screen">
  <head>
    <title>wes larson</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%# stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%# javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="flex flex-col h-screen m-0">
    <div class="flex justify-center sm:justify-between p-2 bg-red-800 items-center p-4 font-semibold shadow-md">
      <div class="hover:text-yellow-300 hidden lg:block">
        <%= link_to "wes larson development", root_path %>
      </div>
      <div class="flex gap-3">
        <div class="hover:text-yellow-300">
          <%= link_to "home", root_path %>
        </div>
        <div class="hover:text-yellow-300">
          <%= link_to "portfolio", pages_portfolio_path %>
        </div>
        <div class="hover:text-yellow-300">
          <%= link_to "blog", pages_blog_path %>
        </div>
        <div class="hover:text-yellow-300">
          <%= link_to "about", pages_about_path %>
        </div>
      </div>
    </div>
    <div class="flex-1 bg-slate-400 overflow-y-auto"><%= yield %></div>
    <div class="flex justify-center sm:justify-between p-3 bg-red-800 w-full items-center">
      <div class="flex gap-1">
        <div>
          <%= link_to image_tag("linkdin_icon.png"), "https://linkedin.com/in/matthew-wesley-larson-694040218" %>
        </div>
        <div>
          <%= link_to image_tag("github_icon.png"), "https://github.com/Servante" %>
        </div>
      </div>
      <div class="flex text-yellow-300 ml-[100px] hidden lg:block">
        Available: January 2023
      </div>
      <div class="flex flex-col font-semibold text-sm hidden lg:block">
        <div>Phn: 971-203-4256</div>
        <div>Email: wesley.larson73@gmail.com</div>
      </div>
    </div>    
  </body>
</html>
