<!DOCTYPE html>
<html>
  <head>
    <title>PersonalWebsite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <% javascript_importmap_tags %>
    <% javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div id="header">
      <div id="left-links">
        <%= link_to "wes larson development", root_path %>
      </div>
      <div id="right-links">
        <div class="header-link">
          <%= link_to "home", root_path %>
        </div>
        <div class="header-link">
          <%= link_to "portfolio", pages_portfolio_path %>
        </div>
        <div class="header-link">
          <%= link_to "blog", pages_blog_path %>
        </div>
        <div class="header-link">
          <%= link_to "about", pages_about_path %>
        </div>
      </div>
    </div>
    <div id="content"><%= yield %></div>
    <div id="footer">
  </body>
</html>
