<!DOCTYPE html>
<html>
  <head>
    <title>PersonalWebsite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%# stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%# javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="flex flex-col h-screen m-0 overflow-hidden">
    <div class="flex justify-between p-2 bg-red-800 items-center p-4">
      <div>
        <%= link_to "wes larson development", root_path %>
      </div>
      <div class="flex gap-2">
        <div>
          <%= link_to "home", root_path %>
        </div>
        <div>
          <%= link_to "portfolio", pages_portfolio_path %>
        </div>
        <div>
          <%= link_to "blog", pages_blog_path %>
        </div>
        <div>
          <%= link_to "about", pages_about_path %>
        </div>
      </div>
    </div>
    <div class="flex-1 flex items-center justify-center flex-col bg-slate-400"><%= yield %></div>
    <div class="flex justify-between p-2 bg-red-800">
  </body>
</html>
